*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;

  @include respond(tab-land) {  // width < 1200?
    font-size: 56.25%;
  }

  @include respond(tab-port) { // width < 900?
    font-size: 50%;
  }
  @include respond(big-desktop) {
    font-size: 75%;
  }
}

body {
  background-image: linear-gradient(120deg, $dark-blue, rgba($dark-blue, 0.8));
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: 'Open Sans', sans-serif;
}

.header {
  color: $lavender;
  text-align: center;
  margin: 3rem auto;
  letter-spacing: 2px;
}